.CartGlobal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 50px;

}

.Item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    background-color: lightgrey;
    border: solid;
    width: 80%;
    font-size: 1.6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.ButtonCart{
    color: black;
    margin-top: 20px;
    width: auto;
    height: auto;
    border-radius: 15%;
    background-color: lightgrey;
    font-size: 1.6rem;
    cursor: pointer;
  
}

.VolverAlCatalogo{
    color: black;
    margin-top: 50px;
    width:80%;
    text-align: center;
    height: auto;
    background-color: lightgrey;
    font-size: 1.6rem;
    text-decoration: none;
}

.Finalcompra{
    color: black;
    margin-top: 50px;
    width: 80%;
    height: auto;
    text-align: center;
    background-color: lightgrey;
    font-size: 1.6rem;

  
}

.trash{
    cursor: pointer;
}